{% extends 'MTMCommentBundle::base_comment.html.twig' %}

{% block body %}


<div class="messageForm">
	<form action="{{ url('view_post',{"id" : teammate.id}) }}" method="post">
		<div class="thread">
			<div class="button_thread_new">
	            {{ form_widget(form.body, {'attr': {'placeholder': 'Commentaire','cols': '47.5','rows': '3'}}) }}
	        </div>
	    </div>
		<div class="message_footer">
			<div class="button_comment_new" onclick="document.forms['loginForm'].submit()">
		 	   		{{ form_widget(form) }}
		 	   		<input type="submit" />
	 	   </div>

		</div>
		</form>

	{% for comment in teammate.comments %}
		{% if comment.idsender != teammate  %}
			<div class="thread">
	        	<div class="button_profil">
	            	<a href="{{ path('others_profile',{"id" : comment.idsender.id}) }}">
	                	<img src="{{ comment.idsender.getProfile().getUrlphoto()}}" alt="{{comment.idsender.username  }}"/>
	            	</a>
	            </div>
	            <div class="thread_space">
	            </div>
	            <div class="button_thread_body">
	            		<div class="message_body">
	            			{{ comment.body }}
	            		</div>

                    	<div class="date_right">
                    		<br>
							{{ comment.createdAt|date('H:i d/m/y',"Europe/Paris") }}
                    	</div>
	            </div>
	    	</div>
	    {% else %}
			<div class="thread">
	            <div class="button_thread_body">
	                   	<div class="date_left">
                    		<br>
							{{ comment.createdAt|date('H:i d/m/y',"Europe/Paris") }}
                    	</div>
	            		<div class="message_body">
	            			{{ comment.body }}
	            		</div>
	            </div>
	            	            <div class="thread_space">
	            </div>
	        	<div class="button_profil">
	            	<a href="{{ path('others_profile',{"id" : comment.idsender.id}) }}">
	                	<img src="{{ comment.idsender.getProfile().getUrlphoto()}}" alt="{{comment.idsender.username  }}"/>
	            	</a>
	            </div>
	    	</div>
	    {% endif %}

	{% endfor %}
	<div class="button_cancel">
	<a  href="{{ path('others_profile',{"id" : teammate.id}) }}" value="Retour"> Retour </a>
</div>
</div>	
{% endblock %}