{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
   <ul class="inputs">
    <li>
    	<span class="icon" data-icon="&#xe003;" aria-hidden="true" title="username"></span>
    {{ form_widget(form.username) }}
    </li>
    {% if form_errors(form.username) %}
	   		<div class="error">
	   			 <p>Veuillez saisir un login</p>
	   			 </div>
	   	{% endif %}
    <li>
    <span class="icon" data-icon="&#xe000;" aria-hidden="true" title="email"></span>
    {{ form_widget(form.email) }}
    </li>
    {% if form_errors(form.email) %}
	   		<div class="error">
	   			 <p>Veuillez saisir une adresse mail</p>
	   			 </div>
	   	{% endif %}
    <li>
    <span class="icon" data-icon="&#xe002;" aria-hidden="true" title="password"></span>
    {{ form_widget(form.current_password, {'attr': {'placeholder': 'Mot de passe actuel'}}) }}
    
    </li>
    {% if form_errors(form.current_password) %}
	   		<div class="error">
	   			 <p>Veuillez saisir votre mot de passe actuel</p>
	   			 </div>
	   	{% endif %}
    </ul>
 
 <div class="registrationSubmit" onclick="document.forms['reg_form'].submit()">
		 	   <div class="registrationSubmitInner">
		 	   	<span class="icon">
		 	   		<span class="icon" data-icon="&#xe001;" aria-hidden="true" title="password"></span>
		 	   		 <input value="Valider" type="submit" />
		 	   	</span>
		</div> 
	   </div>
    {{ form_rest(form) }}
</form>
<div class="button_cancel">
		<a  href="{{ path('profile') }}" value="Retour"> Retour </a>
	</div>
