{% extends 'MTMSportBundle::base_sport.html.twig' %}

{% block body %}

	{% block div %}
		<div class="add_sport">
			{% if action == 'edit_sport' %}
				<form action="{{ path(action,{"idpractice" : idpractice}) }}" method="post" name="sport_form">
			{% else %}
				<form action="{{ path(action) }}" method="post" name="sport_form" >
			{% endif %}
			<ul class="inputs">
				<li>
					<span title="sport"></span>
					{{ form_widget(form.idsport, {'attr': {'placeholder': 'Sport'}}) }}
				</li>
				<li>
					<span title="place"></span>
			   		{{ form_widget(form.idplace.address, {'attr': {'placeholder': 'Lieu'}}) }}
		   		</li>
		   		<li>
		   			<span title="level"></span>
					{{ form_widget(form.idlevel, {'attr': {'placeholder': 'Niveau'}}) }}
				</li>
			</ul>
			<div class="sport_slots">
				<span>Créneaux</span>
				<ul class="slots" data-prototype="{{ form_widget(form.idslots.vars.prototype)|e }}" >
		    		{% for slot in form.idslots  %}	
			         	<li id="slot" >{{ form_widget(slot) }}</li>
			    	{% endfor %}
				</ul>
			</div>
			{{ form_rest(form) }}
			<div class="button_cancel button_cancel_search">
				<a  href="{{ path('sport') }}" value="Retour"> Annuler </a>
			</div>	
		 	<div class="button_cancel button_valide_search" onclick="document.forms['sport_form'].submit()">
				{% if action == 'edit_sport' %}
			    		Modifier		
				{% else %}
						Ajouter
				{% endif %}
		 	</div>	
			
			</form>		
			<div id="map-canvas" ></div>
		</div>
	{% endblock %}
		<script src="{{ asset('bundles/mtmsport/js/addSlot.js') }}" type="text/javascript" ></script>
		<script type="text/javascript">
		<!--
		function initialize() {
			
			var input = (document.getElementById('practice_idplace_address'));
			var autocomplete = new google.maps.places.Autocomplete(input);

			google.maps.event.addListener(autocomplete, 'place_changed', function() {})
	  			
		}
		google.maps.event.addDomListener(window, 'load', initialize);
		
		var collectionHolder = $('ul.slots');
		
		// setup an "add a tag" link
		var $addSlotLink = $('<a href="#" class="add_slot_link">Ajouter un créneau</a>');
		var $newLinkLi = $('<li></li>').append($addSlotLink);	

		
		jQuery(document).ready(function() {
			
		    // add the "add a slot" anchor and li to the slots ul
		    collectionHolder.append($newLinkLi);
		
		    // count the current form inputs we have (e.g. 2), use that as the new
		    // index when inserting a new item (e.g. 2)
		    collectionHolder.data('index', collectionHolder.find(':input').length);
		
		    $addSlotLink.on('click', function(e) {
		        // prevent the link from creating a "#" on the URL
		        e.preventDefault();
		
		        // add a new tag form (see next code block)
		        addSlotForm(collectionHolder,$newLinkLi);
			    
		        
		    });
		 	// ajoute un lien de suppression √† tous les √©l√©ments li de
		    // formulaires de tag existants
			collectionHolder.find('li#slot').each(function() {
		        addSlotFormDeleteLink($(this));
		    });
		    
		});
		//-->
		</script>
		
{% endblock %}
