{% extends 'MTMSportBundle::base_sport.html.twig' %}

{% block body %}

	{% block div %}
		
		{% if action == 'edit_sport' %}
			<form action="{{ path(action,{"idpractice" : idpractice}) }}" method="post" >
		{% else %}
			<form action="{{ path(action) }}" method="post" >
		{% endif %}
			<h3>Sport</h3>
		   	{{ form_widget(form.idsport) }}
		   	<h3>Lieu</h3>
			{{ form_widget(form.idplace) }}
			<h3>Niveau</h3>
			{{ form_widget(form.idlevel) }}
			<h3>Créneaux</h3>
			<ul class="slots" data-prototype="{{ form_widget(form.idslots.vars.prototype)|e }}" >
	    		{% for slot in form.idslots  %}	
		         	<li id="slot" >{{ form_widget(slot) }}</li>
		    	{% endfor %}
			</ul>
			{{ form_rest(form) }}
		    <input type="submit" />
		</form>		
		
	{% endblock %}
		<script src="{{ asset('bundles/mtmsport/js/addSlot.js') }}" type="text/javascript" ></script>
		<script type="text/javascript">
		<!--
		var collectionHolder = $('ul.slots');
		
		// setup an "add a tag" link
		var $addSlotLink = $('<a href="#" class="add_slot_link">Ajouter un créneau</a>');
		var $newLinkLi = $('<li></li>').append($addSlotLink);	

		
		jQuery(document).ready(function() {
			
		    // add the "add a slot" anchor and li to the slots ul
		    collectionHolder.append($newLinkLi);
		
		    // count the current form inputs we have (e.g. 2), use that as the new
		    // index when inserting a new item (e.g. 2)
		    collectionHolder.data('index', collectionHolder.find(':input').length);
		
		    $addSlotLink.on('click', function(e) {
		        // prevent the link from creating a "#" on the URL
		        e.preventDefault();
		
		        // add a new tag form (see next code block)
		        addSlotForm(collectionHolder,$newLinkLi);
			    
		        
		    });
		 	// ajoute un lien de suppression à tous les éléments li de
		    // formulaires de tag existants
			collectionHolder.find('li#slot').each(function() {
		        addSlotFormDeleteLink($(this));
		    });
		    
		});
		//-->
		</script>
		
{% endblock %}


