{% extends 'MTMSportBundle::base_sport.html.twig' %}

{% block div %}
	{% if profile_teammate.practices|length > 0 %}
		{%  for practice in  profile_teammate.practices %}		
			<div class="practice" id="{{ practice.getIdpractice() }}" draggable="true">
				{{ practice.getIdSport().getNomsport() }} <br>
				{{ practice.getIdPlace().getAddress() }} <br>
				Niveau : {{ practice.getIdLevel().getLevel() }} <br>
				{% for slot in practice.getIdslots %}
							Le {{ slot.getDay() }}	  
							de : {{ slot.getStarthour()|date('H:i') }} 
							à {{ slot.getEndhour()|date('H:i') }}
							<br>
				{% endfor %}
			</div>		
		{% endfor %}
	{% else %}
		<h3>Cette personne n'a pas encore de sport !</h3>
	{% endif %}
	<div class="button_cancel">
		<a  href="{{ path('others_profile',{"id" : profile_teammate.id}) }}" value="Retour"> Retour </a>
	</div>
{% endblock %}