{% extends 'MTMSportBundle::base_sport.html.twig' %}

{% block div %}
	<script>
	$(document).ready(function(){
		 
	    // cacher la div #menu
	    $(".delete").hide();
	     
	});

		function dragend(ev){
			$(".delete").slideToggle();
		}
		
		function allowDrop(ev)
		{
			ev.preventDefault();
		}
		
		function drag(ev)
		{
			ev.dataTransfer.setData("Text",ev.target.id);
			$(".delete").slideToggle();
		}
			
		function drop(ev)
		{
			ev.preventDefault();
			var data=ev.dataTransfer.getData("Text");
			var route = "{{ path('delete_sport', { 'idpractice': "PLACEHOLDER" }) }}";
			window.location = route.replace("PLACEHOLDER", data);
			
			ev.target.appendChild(document.getElementById(data));
		}
	</script>
	<div class="delete" ondrop="drop(event)" ondragover="allowDrop(event)" >
		<img src="{{ asset('bundles/mtmdesign/img/trash.png') }}" width="48px" height="48px" >
	</div>
	{%  for practice in  practices %}			
			<div class="practice" id="{{ practice.getIdpractice() }}" ondragend="dragend(event)" ondragstart="drag(event)" draggable="true">
				{{ practice.getIdSport().getNomsport() }} <br>
				{{ practice.getIdPlace().getAddress() }} <br>
				{{ practice.getIdLevel().getLevel() }} <br>
				{% for slot in practice.getIdslots %}
							{{ slot.getDay() }}	  
							{{ slot.getStarthour()|date('H:i') }} 
							{{ slot.getEndhour()|date('H:i') }}
							<br>
				{% endfor %}
				<a href="{{ path('edit_sport',{"idpractice" : practice.getIdpractice()}) }}" >Modifier</a>
				<a href="{{ path('delete_sport',{"idpractice" : practice.getIdpractice()}) }}" >Supprimer</a>
			</div>
		
	{% endfor %}
{% endblock %}