{% extends 'MTMSportBundle::base_sport.html.twig' %}

{% block div %}
	<script src="jquery.ui.touch-punch.min.js"></script>
	<script>
	$(document).ready(function(){
		
		$.event.props.push('dataTransfer');
		
	    // cacher la div #menu
	    $(".delete").hide();
	    var $this ; 	 
	    
	    
	    $(".delete").on({
			
	    	dragover: function(e) {
				e.preventDefault();
	    	},

	    	drop: function(e) {
	    		e.preventDefault();
				var data= e.dataTransfer.getData('text/html');
				var route = "{{ path('delete_sport', { 'idpractice': "PLACEHOLDER" }) }}";
				window.location = route.replace("PLACEHOLDER", data);
				
				e.target.appendChild(document.getElementById(data));
		    }
    		
		})

		 $(".practice").on({
			 
			dragend: function(e){
				$(".delete").slideToggle();
			},
			
			dragstart: function(e) {
				$this = $(this);
	            i = $(this).index();
	            $(this).css('opacity', '1');
	 
	            e.dataTransfer.setData('text/html', e.target.id);
				$(".delete").slideToggle();
			},

		})
	     
	});
	</script>
	<div class="delete" >
		<img src="{{ asset('bundles/mtmdesign/img/trash.png') }}" width="48px" height="48px" >
	</div>
	{%  for practice in  practices %}			
			<div class="practice" id="{{ practice.getIdpractice() }}" draggable="true">
				{{ practice.getIdSport().getNomsport() }} <br>
				{{ practice.getIdPlace().getAddress() }} <br>
				{{ practice.getIdLevel().getLevel() }} <br>
				{% for slot in practice.getIdslots %}
							{{ slot.getDay() }}	  
							{{ slot.getStarthour()|date('H:i') }} 
							{{ slot.getEndhour()|date('H:i') }}
							<br>
				{% endfor %}
				<a href="{{ path('edit_sport',{"idpractice" : practice.getIdpractice()}) }}" >Modifier</a>
				<a href="{{ path('delete_sport',{"idpractice" : practice.getIdpractice()}) }}" >Supprimer</a>
			</div>
		
	{% endfor %}
{% endblock %}