{% extends 'FOSMessageBundle::layout.html.twig' %}
{% block page_name %}Nouveau message{% endblock %}

{% block fos_message_content %}
<div class="loginForm">
<form action="{{ url('new_message',{"id" : id,"teammate":teammate,"action":"retour"}) }}" method="post">
	  <ul class="inputs">
	   <li>
	   		<span class="icon" data-icon="&#xe003;" aria-hidden="true" title="recipient"></span>
	
		    {{ form_widget(form.recipient, {'attr': {'placeholder': 'Destinataire','value': teammate}}) }}
	    </li>
	    {% if form_errors(form.recipient) %}
	    	<div class="error">
	   			 <p>Vous ne pouvez pas être le destinataire du message.</p>
	   		</div>
	    {% endif %}
	    <li>
	   		<span class="icon" data-icon="&#xe000;" aria-hidden="true" title="subject"></span>
		    {{ form_widget(form.subject, {'attr': {'placeholder': 'Sujet'}}) }}
	    </li>
	    <li>
		    {{ form_widget(form.body, {'attr': {'placeholder': 'Corps du message','cols': '44','rows': '15'}}) }}
	    </li>
	    </ul>
	    <div class="message_footer">
	 	   <div class="button_message_cancel">
	 	   			<a value="Annuler" href="{{ path('others_profile',{"id" : id}) }}">
						Annuler
					</a>
			</div>
	 	   <div class="button_message_new" onclick="document.forms['loginForm'].submit()">
		 	   		<input type="submit" />
	 	   </div>
		</div>
	    
		{{ form_rest(form) }}
		{{ form_errors(form) }}
		
	</form>
	</div>
{% endblock %}
