{% extends 'FOSMessageBundle::layout.html.twig' %}
{% block fos_message_content %}

<div class="messageForm">
	<div class="message_subject">
	     "{{thread.subject }}"
	     de {{thread.createdBy.getProfile().getFirstname()}}
	     {{thread.createdBy.getProfile().getName()}}
	</div>
	{% for message in thread.messages %}
		{% if message.sender == thread.createdBy  %}
			<div class="thread">
	        	<div class="button_profil">
	            	<a href="{{ path('others_profile',{"id" : message.getSender().id}) }}">
	                	<img src="{{ message.getSender().getProfile().getUrlphoto()}}" alt="{{thread.getParticipants()[0]  }}"/>
	            	</a>
	            </div>
	           	<div class="thread_space">
	            </div>
	            <div class="button_thread_body">
	            		<div class="message_body">
	            			{{ message.body }}
	            		</div>

                    	<div class="date_right">
                    		<br>
							{{ message.createdAt|date('H:i d/m/Y',"Europe/Paris") }}
                    	</div>
	            </div>
	    	</div>
	    {% else %}
			<div class="thread">
	            <div class="button_thread_body">
	                   	<div class="date_left">
                    		<br>
							{{ message.createdAt|date('H:i d/m/Y',"Europe/Paris") }}
                    	</div>
	            		<div class="message_body">
	            			{{ message.body }}
	            		</div>
	            </div>
	         	<div class="thread_space">
	            </div>
	            <div class="button_profil">
	            	<a href="{{ path('others_profile',{"id" : message.getSender().id}) }}">
	                	<img src="{{ message.getSender().getProfile().getUrlphoto()}}" alt="{{thread.getParticipants()[0]  }}"/>
	            	</a>
	            </div>
	    	</div>
	    {% endif %}
	{% endfor %}
		<form action="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}" method="post">
		<div class="thread">
	    	<div class="button_thread_new">
	            	{{ form_widget(form.body, {'attr': {'placeholder': 'Réponse','cols': '47.5','rows': '3'}}) }}
	        </div>
	    </div>
		<div class="message_footer">
	 	   <div class="button_message_cancel">
            		<a  value="Retour" href="{{ url('fos_message_inbox')}}" }}">
						Retour
					</a>
			</div>
	 	   <div class="button_message_new" onclick="document.forms['loginForm'].submit()">
		 	   		{{ form_widget(form) }}
		 	   		<input type="submit" />
	 	   </div>
		</div>
		</form>
</div>

{% endblock %}