<div class="messageForm">

	<div class="button_add_message">
    	<a  value="Nouveau Message" href="{{ url('fos_message_thread_new')}}" }}">
			Composer un nouveau message
		</a>
	</div>



    {% if threads %}
        {% for thread in threads %} 
        	<div class="thread">
	        	<div class="button_profil"> 
	        		<a href="{{ path('others_profile',{"id" : thread.createdBy.id}) }}">
	                    <img src="{{ thread.createdBy.getProfile().getUrlphoto()}}" alt="{{thread.getParticipants()[0]  }}"/>
	            	</a>
	            </div>
	            <div class="thread_space">
	            </div>
	            <div class="button_message_body">
	            	<a href="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}">
	            		<div class="username">
	        				{{ thread.createdBy.getProfile().getFirstname()}}
                    		{{ thread.createdBy.getProfile().getName()}}
                    	</div>
                    	{{ thread.subject }}
                    	{% if not fos_message_is_read(thread) %}
                        	(nouveau)
                    		{% endif %}
                    	<div class="date">
                    		{{ thread.createdAt|date('d/m/Y') }}
                    	</div>
                    </a>
	            </div>
	            <div class="thread_space">
	            </div>
	        	<div class="button_message_delete">
	        		<a href="{{ url('fos_message_thread_delete', {'threadId': thread.id}) }}">
		 	   			<br><span class="icon" data-icon="&#xe008;" aria-hidden="true" title="supprimer"></span> 
                    </a>
            	</div>
        	</div>
        {% endfor %}
    {% else %}
		<div class="message_no">
			<br>Pas de message
		</div>
    {% endif %}
    <div class="clear"></div>
	<div class="button_cancel">
			<a  href="{{ path('profile') }}" value="Retour"> Retour </a>
	</div>
</div>
