<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
  <ul class="inputs">
    <li>
        <span class="icon" data-icon="&#xe002;" aria-hidden="true" title="password"></span>
    
    {{ form_widget(form.current_password, {'attr': {'placeholder': 'Mot de passe actuel'}}) }}
    </li>
    
    <li>
        <span class="icon" data-icon="&#xe002;" aria-hidden="true" title="password"></span>
       {{ form_widget(form.plainPassword.first, {'attr': {'placeholder': 'Nouveau'}}) }}
   
    </li>
    
    <li>
        <span class="icon" data-icon="&#xe002;" aria-hidden="true" title="password"></span>
       {{ form_widget(form.plainPassword.second, {'attr': {'placeholder': 'Vérification'}}) }}
   
    </li>
    
    </ul>
       <div>
 <div class="registrationSubmit" onclick="document.forms['reg_form'].submit()">
		 	   <div class="registrationSubmitInner">
		 	   	<span class="icon">
		 	   		<span class="icon" data-icon="&#xe001;" aria-hidden="true" title="password"></span>
		 	   		 <input value="Valider" type="submit" />
		 	   	</span>
		</div>    </div>
    {{ form_rest(form) }}
</form>
<div class="button_cancel">
		<a  href="{{ path('profile') }}" value="Retour"> Retour </a>
</div>

