{% extends 'MTMProfileBundle:Profile:base_profile.html.twig' %}
{% block page_name %}Complétion de profil{% endblock %}

{% block body %}


<div class="profileForm">
	<form name="pro_form" action="{{ path('add_profile') }}" method="post" {{ form_enctype(form) }}>
		<ul class="inputs">	 
		<li>
		    {{ form_widget(form.name, {'attr': {'placeholder': 'Nom'}}) }}
	    </li>
	    {% if form_errors(form.name) %}
	   		<div class="error">
	   			 <p>Veuillez saisir un nom<p>
	   	{% endif %}
	    <li>
		    {{ form_widget(form.firstname, {'attr': {'placeholder': 'Prénom'}}) }}
	    </li>
 		{% if form_errors(form.firstname) %}
	   		<div class="error">
	   			 <p>Veuillez saisir un prénom<p>
	   	{% endif %}
 		<li>
		    {{ form_widget(form.sexe, {'attr': {'placeholder': 'Sexe (M/F)'}}) }}		    
	    </li>
		{% if form_errors(form.sexe) %}
	   		<div class="error">
	   			 <p>Veuillez saisir un sexe valide M ou F<p>
	   	{% endif %}
	    <li>
		    {{ form_widget(form.description, {'attr': {'placeholder': 'Votre description'}}) }}		    
	    </li>
	    
		</ul>
		{{ form_rest(form) }}
	   <div class="registrationSubmit" onclick="document.forms['pro_form'].submit()">
			<div class="registrationSubmitInner">
		 	   	<span class="icon">
		 	   		<span class="icon" data-icon="&#xe005;" aria-hidden="true" title="password"></span>	
		 	   		<input value="Valider" type="submit" />
		 	   		 
		 	   	</span>
			</div>
		</div>
</form>
</div>



{% endblock %}
