{% extends 'MTMProfileBundle:Profile:base_profile.html.twig' %}

{% block page_name %}Profil{% endblock %}
{% block body %}

	<div class="personnal_info">
		<span> {{ firstname }} </span>
		<span> {{ name }} </span>
		<span class="description"> {{ description }}</span>
	
		<div class="picture">
		{% if picture %}
			<img alt="photo" src="{{ picture }}"/>
		{% else %}
			<img alt="photo" src="{{ asset('bundles/mtmdesign/img/anonymous.jpg') }}">
		{% endif %}
		</div>
		
	</div>
	<div class="clear"></div>
	
	<div class="tiles">
		<div class="tile left">
			<a href="{{ path('sport') }}">S</a>
		</div>
		<div class="tile right">
			<a href="{{ path('fos_message_inbox') }}">M</a>
		</div>
		<div class="clear"></div>
		<div class="tile left">
			<a href="{{ path('view_post',{"id" : id}) }}">C</a>
		</div>
	</div>
{% endblock %}
