{% extends 'MTMProfileBundle:Profile:base_profile.html.twig' %}

{% block page_name %}Profil{% endblock %}
{% block body %}

	<div class="personnal_info">
		<span> {{ profile_teammate.profile.firstname|title }} </span>
		<span> {{ profile_teammate.profile.name|title }} </span>
		<span class="description"> {{ profile_teammate.profile.description|title }}</span>
	
		<div class="picture">
		{% if profile_teammate.profile.urlphoto %}
			<img alt="photo" src="{{ profile_teammate.profile.urlphoto }}"/>
		{% else %}
			<img alt="photo" src="{{ asset('bundles/mtmdesign/img/anonymous.jpg') }}">
		{% endif %}
		</div>
		
		{% if profile_teammate in teammate.favorites %}
			<a href="{{ path('remove_favorite',{"id" : profile_teammate.id}) }}">Enlever des favoris</a>
		{% else %}
			<a href="{{ path('add_favorite',{"id" : profile_teammate.id}) }}">Ajouter aux favoris</a>		
		{% endif %}
	</div>
	<div class="clear"></div>
	
	<div class="tiles">
		<div class="tile left">
			<a href="{{ path('others_sport',{"id" : profile_teammate.id}) }}">S</a>
		</div>
		<div class="tile right">
			<a href="{{ path('new_message',{"id" : profile_teammate.id, "teammate" : profile_teammate,"action" : " "}) }}">M</a>
		</div>
		<div class="clear"></div>
		<div class="tile left">
			<a href="{{ path('view_post',{"id" : profile_teammate.id}) }}">C</a>
		</div>
		<div class="tile right">
			<a href="{{ path('note_profile',{"id" : profile_teammate.id}) }}">N</a>
		</div>
	</div>
	{% block note %}
	{% endblock %}
{% endblock %}
