{% extends 'MTMProfileBundle:Profile:base_profile.html.twig' %}

{% block page_name %}Profil{% endblock %}
{% block body %}

	<div class="personnal_info">
		<span> {{ teammate.profile.firstname|title }} </span>
		<span> {{ teammate.profile.name|title }} </span>
		<span class="description"> {{ teammate.profile.description|title }}</span>
	
		<div class="picture">
		{% if teammate.profile.urlphoto %}
			<a href="{{ path('choose_picture') }}"><img alt="photo" src="{{ teammate.profile.urlphoto }}"/></a>
		{% else %}
			<img alt="photo" src="{{ asset('bundles/mtmdesign/img/anonymous.jpg') }}">
			<div><a href="{{ path('choose_picture') }}">Vous n'avez pas encore d'image de profil, en choisir une?</a></div>
		{% endif %}
		</div>
		
	</div>
	<div class="clear"></div>
	
	<div class="tiles">
		<div class="tile left">
			<a href="{{ path('sport') }}">S</a>
		</div>
		<div class="tile right">
			<a href="{{ path('fos_message_inbox') }}">M</a>
		</div>
		<div class="clear"></div>
		<div class="tile left">
			<a href="{{ path('view') }}">C</a>
		</div>
		<div class="tile right">
			<a href="{{ path('view_favorite') }}">F</a>
		</div>
		<div class="tile left">
			<a href="{{ path('search') }}" >R</a>
		</div>
		<div class="tile right">
			<a href="{{ path('view_note') }}">N</a>
		</div>
	</div>
{% endblock %}
