{% extends 'MTMCoreBundle::connect.html.twig' %}
{% block page_name %}Search{% endblock %}

{% block body %}

<div class="profileForm">
	<form name="search_form" action="{{ path('search') }}" method="post" {{ form_enctype(form) }}>
			<ul class="inputs">	    
		<li>
			<span class="icon" title="username"></span>
		    {{ form_widget(form.teammate.username, {'attr': {'placeholder': 'Login'}}) }}
	    </li>
	    <li>
			<span class="icon" title="name"></span>
		    {{ form_widget(form.profile.name, {'attr': {'placeholder': 'Nom'}}) }}
	    </li>
	    <li>
			<span class="icon" title="firstname"></span>
		    {{ form_widget(form.profile.firstname, {'attr': {'placeholder': 'Prénom'}}) }}
	    </li>
	    <li>
			<span class="icon" title="sport">Sport</span>
		    {{ form_widget(form.practice.idsport, {'attr': {'placeholder': 'Sport'}}) }}
	    </li>
	    <li>
			<span class="icon" title="sport">Niveau</span>
		    {{ form_widget(form.practice.idlevel, {'attr': {'placeholder': 'Niveau'}}) }}
	    </li>
	    
	</ul>
	{% if error %}
	    <div>{{ error }}</div>
	{% endif %}
	{{ form_rest(form) }}
	
		<div class="button_cancel button_cancel_search">
			<a  href="{{ path('profile') }}" value="Retour"> Retour </a>
		</div>	
	 	<div class="button_cancel button_valide_search" onclick="document.forms['search_form'].submit()">
			Valider
	 	</div>	
</div>


{% endblock %}