{% extends 'MTMCoreBundle::connect.html.twig' %}
{% block page_name %}Search{% endblock %}

{% block body %}
		{%  for line in  result %}			
			<div class="box" id="{{ line.id }}" draggable="true">
				<a class="edit" href="{{ path('others_profile',{"id" : line.id}) }}" >
					<span class="bold">{{ line.username }}</span> <br>					
					{{ line.profile.firstname }} {{ line.profile.name}}  <br>	
					{% for practice in line.practices %}		
						{{ practice.idsport.nomsport }} <br>
					{% endfor %}
					
				</a>
				<a href="{{ path('others_profile',{"id" : line.id}) }}" >
					<div class="box_button">
						<img src="{{ line.profile.urlphoto }}"/>
					</div>	
				</a>
			</div>
		{% endfor %}
		
{% endblock %}