{% extends 'MTMCoreBundle::connect.html.twig' %}
{% block page_name %}Search{% endblock %}

{% block body %}
		{%  for line in  result %}			
				<div class="practice" id="{{ line.id }}" draggable="true">
					{{ line.username }} <br>
					{{ line.email }} <br>
					{{ line.profile.name}} <br>
					{{ line.profile.firstname }} <br>	
					{% for practice in line.practices %}		
						{{ practice.idsport.nomsport }} <br>
					{% endfor %}
					<a href="{{ path('others_profile',{"id" : line.id}) }}">Accéder au profil </a>
				</div>
		{% endfor %}
		
{% endblock %}