{% extends 'MTMCoreBundle::connect.html.twig' %}

{% block page_name %}Note{% endblock %}

{% block body %}
<div class="note" >
	<span class="current-note" > {{ note }} </span>
	<ul class="star-rating">
		<li class="current-rating" style="width:{{ note * 100 / 5 }}%;">Currently {{ note }}/5 Stars.</li>
	</ul>
</div>
<h3>Noter le profile :</h3>
<div class="note" >
	<span class="current-note" > {{ teammate_note }} </span>
	<ul class="star-rating">
		<li class="current-rating" style="width:{{ teammate_note * 100 / 5 }}%;">Currently {{ teammate_note }}/5 Stars.</li>
		<li><a href="{{ path('note',{"id" : profile_teammate.id, "value" : 1}) }}" class="one-star">1</a></li>
		<li><a href="{{ path('note',{"id" : profile_teammate.id, "value" : 2}) }}" class="two-stars">2</a></li>
		<li><a href="{{ path('note',{"id" : profile_teammate.id, "value" : 3}) }}" class="three-stars">3</a></li>
		<li><a href="{{ path('note',{"id" : profile_teammate.id, "value" : 4}) }}" class="four-stars">4</a></li>
		<li><a href="{{ path('note',{"id" : profile_teammate.id, "value" : 5}) }}" class="five-stars">5</a></li>
	</ul>
</div>
<div class="button_cancel">
	<a  href="{{ path('others_profile',{"id" : profile_teammate.id}) }}" value="Retour"> Retour </a>
</div>
		
{% endblock %}

		
	

